.hidden {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #fff;
  font-size: 16px;
}
ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* ========================================================================================================================================================
------------------------------------------------------    
======================================================================================================================================================== */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
*,
::after,
::before {
  box-sizing: border-box;
}
/* ========================================================================================================================================================
Header
======================================================================================================================================================== */
.top-header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}
.address-list,
.menu {
  display: none;
}
.logo-top {
  display: block;
  padding: 16px 0;
  font-family: "Raleway", sans-serif;
  color: #404bbf;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-part {
  color: #2e2f42;
}
.nav-page {
  margin-right: auto;
}
.btn-top {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.icon-top {
  display: block;
  fill: #2f2f37;
}
@media screen and (min-width: 768px) {
  .btn-top {
    display: none;
  }
  .nav-page {
    display: flex;
    align-items: center;
  }
  .logo-top {
    margin-right: 120px;
    padding: 24px 0;
  }
  .menu {
    display: flex;
    gap: 40px;
  }

  .menu-link {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-link:hover,
  .menu-link:focus {
    color: #404bbf;
  }
  .position::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }
  .position {
    color: #404bbf;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-item {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .address {
    display: block;
    font-style: normal;
  }
  .address-item:hover,
  .address-item:focus {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .logo-top {
    margin-right: 76px;
  }
  .address-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .address-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/* ========================================================================================================================================================
HERO
======================================================================================================================================================== */

.hero-part {
  background-color: #2e2f42;
  line-height: 1.07;
  max-width: 320px;
  margin: 0 auto;
  padding: 72px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/mobile1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero-part {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/mobile2.jpg);
  }
}
.text-at-hero {
  display: block;
  max-width: 216px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 36px;
  text-transform: none;
}

.button-hero {
  display: block;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  font-family: inherit;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  cursor: pointer;
  border: none;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-hero:focus,
.button-hero:hover {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .hero-part {
    max-width: 768px;
    padding: 112px 0;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero-part {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/tablet@2x.jpg);
    }
  }
  .text-at-hero {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }
}
@media screen and (min-width: 1158px) {
  .hero-part {
    max-width: 1440px;
    padding: 188px 0;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero-part {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/desktop2.jpg);
    }
  }
  .text-at-hero {
    margin: 0 auto;
    margin-bottom: 48px;
  }
}
/* ========================================================================================================================================================
BENEFITS
======================================================================================================================================================== */

.benefits {
  padding: 96px 0;
}
.benefits-icon {
  display: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits-name {
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  text-align: center;
}
.benefits-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-weight: 500;
}
.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
@media screen and (min-width: 768px) {
  .benefits-list-item {
    width: calc((100% - 24px) / 2);
  }
  .benefits-name {
    text-align: justify;
  }

  .benefits-list {
    flex-direction: row;
    gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1158px) {
  .benefits {
    padding: 120px 0;
  }
  .benefits-list-item {
    width: calc((100% - 72px) / 4);
  }
  .benefits-icon {
    display: inline-block;
  }
  .benefits-text {
    font-weight: 400;
  }

  .benefits-name {
    font-weight: 500;
    font-size: 20px;
  }
  .icon-benefits {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
  }
  .benefits-list {
    flex-wrap: nowrap;
    width: 1128px;
    height: 224px;
  }
}
/* ========================================================================================================================================================
TEAM
======================================================================================================================================================== */
.team-part {
  background-color: #f4f4fd;
  padding: 96px 28px 96px 28px;
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  row-gap: 72px;
}
.team-name {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
.team-list-item {
  display: flex;
  flex-direction: column;
  width: 264px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}
.container-team {
  padding: 32px 0;
}
.list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
  justify-content: center;
}
.social-list-item {
  width: 40px;
  height: 40px;
}

.social-list {
  display: flex;
  gap: 16px;
  justify-content: center;
  column-gap: 16px;
}
.social-list-link_ {
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .team-part {
    padding: 96px 108px 96px 108px;
  }

  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    flex-direction: row;
    justify-content: center;
    row-gap: 64px;
  }
  .team-list-item {
    width: 264px;
  }
}
@media screen and (min-width: 1158px) {
  .team-part {
    padding: 120px 156px 120px 156px;
  }
  .team-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
  .team-list-item {
    width: calc((100% - 72px) / 4);
  }
  .social-list-link_:hover,
  .social-list-link_:focus {
    background-color: #404bbf;
  }
}
/* ========================================================================================================================================================
PORTFOLIO
======================================================================================================================================================== */
.portfolio {
  padding: 96px 16px 96px 16px;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-title-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.container-list-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  padding: 32px 16px;
}
.portfolio-list-item {
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
}
.overlay {
  position: relative;
  overflow: hidden;
}
.cardfolio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: auto;
}
.portfolio-list-item:hover .cardfolio {
  transform: translateX(0%);
}
.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
@media screen and (min-width: 768px) {
  .portfolio-title-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }
}
@media (min-width: 1158px) {
  .portfolio {
    padding: 120px 156px 120px 156px;
  }
  .portfolio-list-item {
    width: calc((100% - 48px) / 3);
  }
}
/* ========================================================================================================================================================
FOOTER
======================================================================================================================================================== */
.footer-style {
  background: #2e2f42;
  padding: 96px 0;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
  padding: 0 16px;
}
.container-logo {
  text-align: center;
}
.logo-footer {
  line-height: 1.17;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
  width: 115px;
}
.logo-part-footer {
  color: #f4f4fd;
}
.footer-text {
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  transition-property: color;
  margin-bottom: 16px;
  text-align: center;
}
.social-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.subscribe-container {
  display: inline-block;
  text-align: center;
}
.subscribe-form {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
}
.subscribe {
  text-align: center;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.subscribe-form-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: transparent;
  padding-left: 16px;
}

.subscribe-form-input:focus {
  outline: transparent;
  border-color: #4d5ae5;
}
.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 4px;
  height: 40px;
  background-color: #4d5ae5;
  min-width: 165px;
  cursor: pointer;
  border: none;
  font-family: inherit;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item {
  width: 40px;
  height: 40px;
}

.social-list-icon {
  fill: #f4f4fd;
}
.subscribe-form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.social-list-link {
  background-color: #4d5ae5;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-telegram {
  margin-left: 16px;
  fill: #ffffff;
}
@media screen and (min-width: 768px) {
  .subscribe-button {
    flex-direction: row;
  }
  .footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 72px 24px;
    padding-left: 108px;
  }
  .container-logo {
    text-align: left;
    max-width: 264px;
  }
  .social-media {
    text-align: left;
  }
  .subscribe {
    text-align: left;
  }
  .subscribe-form {
    flex-direction: row;
    gap: 24px;
  }
  .subscribe-form-input {
    width: 264px;
  }
}
@media screen and (min-width: 1158px) {
  .footer-style {
    background: #2e2f42;
    padding: 100px 0;
  }
  .subscribe-form-input {
    width: 264px;
  }
  .container-logo {
    margin-right: 120px;
  }
  .footer-text {
    width: 264px;
  }
  .sm-container {
    margin-right: 80px;
  }
  .social-list {
    display: flex;
    gap: 16px;
  }
  .social-list-link:hover,
  .social-list-link:focus {
    background-color: #31d0aa;
  }
  .footer-container {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    gap: 0;
    padding-left: 15px;
  }
  .subscribe-button:hover,
  .subscribe-button:focus {
    background-color: #31d0aa;
  }
}
/* ========================================================================================================================================================
MODAL-menu(header)
======================================================================================================================================================== */
.modal-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: 999;
  padding: 24px 24px 40px 16px;
  overflow: auto;
}

.modal-menu.is-open {
  opacity: 1;
  pointer-events: auto;
}
.modal-menu-container {
  display: flex;
  flex-direction: column;
  min-width: 280px;
  height: 100%;
  justify-content: space-between;
}

.modal-menu-button {
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-bottom: 24px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  fill: #2e2f42;
}

.modal-menu-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
}

.modal-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}

.modal-menu-item:first-child .modal-menu-link {
  color: #404bbf;
}

.modal-contact {
  margin-bottom: 40px;
}

.modal-contact-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
}
.modal-contact-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  font-style: normal;
}

.modal-contact-item:first-child .modal-contact-link {
  color: #4d5ae5;
}

.modal-social-list {
  display: flex;
  justify-content: space-between;
}

.modal-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}

.modal-social-icon {
  fill: #f4f4fd;
}
/* ========================================================================================================================================================
Modal Window
======================================================================================================================================================== */
.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 99999999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  position: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  padding: 72px 16px 24px 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 288px;
  min-height: 623px;
  background-color: #fcfcfc;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  display: flex;
  line-height: 0;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.what-is-about {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.checkbox-field {
  margin-bottom: 8px;
}
.checkbox:checked + .label > .custom-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}
.info {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.checkbox-dpt {
  position: relative;
}
.info-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}
.checkbox-last-field {
  margin-bottom: 16px;
}
.comment {
  font-size: 12px;
  border-radius: 4px;
  height: 120px;
  width: 100%;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  resize: none;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: #4d5ae5;
  border: 1px solid rgba(46, 47, 66, 0.4);
}
.input-btn {
  position: relative;
  margin-bottom: 24px;
}
.label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: #8e8f99;
  letter-spacing: 0.04em;
}
.custom-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  fill: transparent;
  flex-shrink: 0;
}
.info-input:focus {
  border-color: #4d5ae5;
}
.info-input:focus + .checkbox-svg {
  fill: #4d5ae5;
}
.privacy-link {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.form-btn {
  display: block;
  color: #ffffff;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
  border: none;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal {
    padding: 72px 24px 24px 24px;
    width: 408px;
    min-height: 584px;
  }
}
@media screen and (min-width: 1158px) {
  .button:hover,
  .button:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
  }
  .info-input:focus {
    border-color: #4d5ae5;
  }
  .info-input:focus + .checkbox-svg {
    fill: #4d5ae5;
  }
  .comment:focus {
    border-color: #4d5ae5;
  }
  .form-btn:hover,
  .form-btn:focus {
    background: #404bbf;
  }
}
